<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.min.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <link rel="stylesheet" href="/home/css/style.css">
</head>

<body>
<ons-page class="thank-you-page">
  <div class="v-h-center">
    <div class="thank-you-header">
      <img src="/home/img/logo.png" class="header-logo">
    </div>
    <h1>شكرًا لك</h1>
    <img src="/home/img/hadeeth.png">
    <h2>نسأل الله بأن يجعلها في ميزان حسناتك</h2>
    <a href="#">
      <img src="/home/img/more_icon.png">
      <br>
      <span>مشاركة</span>
    </a>
    <p>لا تنسى اعادة البلاستيك المضغوط الى مركز التوزيع</p>
    <a class="close" href="<%= order_path %>">
      <img src="/home/img/close.png">
    </a>
  </div>
</ons-page>
</body>

</html>