@font-face {
    font-family: 'dubai';
    src: url('/../../home/fonts/Dubai-Medium.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'dubai';
    src: url('/../../home/fonts/Dubai-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'dubai';
    src: url('/../../home/fonts/Dubai-Light.ttf');
    font-weight: lighter;
}

html * {
    font-family: 'dubai';
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#sighnup .page__background {
    background: linear-gradient(304.22deg, #52D7FF 0%, #52BBDB 100%);
}

#login .page__background {
    background: url(../img/bg.png);
    background-size: cover;
}

#sighnup .page__content {
    color: #fff;
}

#sighnup h3 {
    font-family: 'dubai';
    font-weight: bold;
}

.v-h-center {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.login-tabs .tabbar__item.active {
    display: none;
}

.signup-form input,
.login-form input {
    text-align: right;
    color: #fff;
    border-color: #fff;
    border-width: 3px;
    font-family: 'dubai';
    width: 100%;
}

.login-form ::placeholder,
.signup-form ::placeholder {
    color: #fff;
    opacity: 1;
}

.signup-form ons-button,
.login-form ons-button {
    height: 40px;
    width: 100%;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'dubai';
    text-align: center;
    background: linear-gradient(157.49deg, #5A8593 0%, #3E6977 100%);
}

.link-muted,
.link-muted:active,
.link-muted:hover {
    color: #aaa;
    text-decoration: none;
    font-weight: 100
}

.home-page .page__background {
    background: linear-gradient(304.22deg, #52D7FF 0%, #52BBDB 100%);
}

.home-header {
    display: flex;
    flex-direction: row;
}

.home-page .home-logo {
    height: 46px;
    width: 76px;
    margin: 30px 10% 0 auto;
}

.home-page .refresh {
    display: inline-block;
    margin: 36px 0 0 30px;
}

.home-page .refresh img {
    width: 30px;
}

.home-page .refresh:active {
    opacity: 0.6;
}

.home-page .order-card {
    height: 250px;
    width: 80%;
    margin: 20px auto 10px;
    text-align: center;
    position: relative;
    padding: 30px
}

.order-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1
}

.details-table {
    width: 70%;
    margin: 20px auto;
    text-align: right;
    direction: rtl;
    font-weight: 400;
    color: #000;
}

.details-table td {
    width: 50%
}

.light-button {
    font-family: 'dubai';
    font-weight: normal;
    width: 70%;
    background: linear-gradient(157.49deg, #52D7FF 0%, #52BBDB 100%);
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 2px 5px 16px 0 rgba(82, 187, 219, 0.16);
}

.light {
    font-weight: lighter;
    color: #9B9B9B
}

.divider {
    box-sizing: border-box;
    height: 0;
    width: 80%;
    border-bottom: 2px solid #000000;
    opacity: 0.2;
    margin: 20px auto;
}

.dark-button {
    border-radius: 17px;
    background: #00000020;
    margin: auto;
    width: 40%;
    font-family: 'dubai'
    box-shadow: 2px 5px 16px 0 rgba(90, 133, 147, 0.16);
}

.text-center {
    text-align: center
}

.settings {
    direction: rtl;
    color: #fff
}

.settings p {
    font-size: 15px
}

.settings .select,
.settings .dark-button {
    height: 40px;
    width: 117px;
    border-radius: 4px;

}

.settings .select {
    padding: 1px 1px;
    background-color: #fff;
    border-radius: 5px;
}

.settings .select-input {
    line-height: 40px;
    background: url('/../../home/img/arrow.png') no-repeat;
    background-position: 10px 13px;
}

.settings .dark-button {
    background: linear-gradient(157.49deg, #5A8593 0%, #3E6977 100%);
}

.home-footer, .order-footer {
    color: #fff;
    font-size: 12px;
    width: 100%;
    text-align: center;
    bottom: 5px;
}

.order-footer {
    color: #5A8593;
}

.home-footer .heart, .order-footer .heart {
    color: red;
}

.order-page .page__background {
    background-color: #fff;
}

.order-header {
    background: linear-gradient(343.43deg, #52D7FF 0%, #52BBDB 100%);
}

.order-header img {
    height: 46px;
    width: 76px;
    display: block;
    margin: auto;
    padding: 30px 0;
}

.order-header p {
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin-bottom: 0
}

.order-page .order-info {
    background-color: #D8D8D820;
    margin: 0 auto;
    padding: 5px 0
}

.order-map {
    height: 150px;
    margin-top: 0;
}

.order-complete {
    background-color: #fff;
    text-align: center;
    padding: 50px 20px
}

.thank-you-page {
    color: #fff;
}

.thank-you-page .page__background {
    background: linear-gradient(343.43deg, #52D7FF 0%, #52BBDB 100%);
}

.thamk-you-page .v-h-center {
    width: 60%
}

.thank-you-header {
    width: 100%;
    text-align: center;
    padding-top: 30px
}

.thank-you-header img {
    margin: auto;
    width: 70px
}

.thank-you-page h1 {
    font-size: 69px;
    font-family: 'dubai';
    font-weight: bold;
    margin: 30px auto;
}

.thank-you-page h2 {
    font-weight: bold;
    font-family: 'dubai';
    margin: 30px auto;
}

.thank-you-page a {
    text-decoration: none;
    color: #fff;
}

.close img {
    width: 20px
}